<div class="row" ng-hide="corelation._id">
  <div class="col-md-6">
      <h2>Create new Correlation Entry</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>ClientID (required)</label> 
      <input id="clientID" class="form-control" type="text" ng-model="correlation.ClientID" required> 
    </p>
    <p>
      <label>HubID (required)</label> 
      <input id="hubid" class="form-control" type="text" ng-model="correlation.HubID" required> 
    </p>
    <p>
      <label>PostID (required)</label> 
      <input id="postid" class="form-control" type="text" ng-model="correlation.PostID" required> 
    </p>
    <p>
      <label>Status (required)</label> 
      <input id="status" class="form-control" type="text" ng-model="correlation.Status"> 
    </p>   
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveCorrelation(correlation)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>